$primary-color: #de971d;
$secondary-color: #0077ef;
$dark-color: #111111;
$light-color: #f6f6f6;
$light-primary-color: #f9971d;
$dark-primary-color: #91600c;
$gray-color: #323233;

$primary-font: Circular, Arial, sans-serif;
