@import "reset";
@import "breakpoints";
@import "variables";
@import "utilities";

body {
  font-family: $primary-font;
}

// nav section

.main-nav {
  z-index: 2;
  width: 100%;
  height: 5vh;
  position: fixed;
  background-color: $gray-color;
  a {
    color: $light-color;
  }
}

.main-nav__items {
  min-height: 100%;
  justify-content: space-between;
  align-items: center;
}

.main-nav_links {
  min-width: 40%;
  justify-content: space-between;
  a:hover {
    color: $light-primary-color;
    transition: ease-in-out 0.3s;
  }
}

// hero section

.hero-content {
  background: url(/img/home/showcase.jpeg) no-repeat center center/cover;
  z-index: -10;
}
.hero-content::before {
  z-index: -5;
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($color: #000000, $alpha: 0.45);
}

.hero-content {
  color: $light-color;
  z-index: 1;
  min-height: 100vh;
  position: relative;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
  h1 {
    font-size: 3rem;
    padding-bottom: 1rem;
  }
  p {
    font-size: 2rem;
    padding-bottom: 2rem;
  }
}

// what we do section

.what-we-do {
  min-height: 50vh;
  padding: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h2 {
    font-size: 3rem;
    padding-bottom: 3rem;
  }
}

.what-we-do-container {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.box {
  margin: 1rem;
  i {
    margin-bottom: 0.5rem;
    color: $light-color;
    background-color: $light-primary-color;
    padding: 1rem;
    border-radius: 50%;
  }
  h3 {
    margin-bottom: 0.5rem;
  }
}

// we provide section

.we-provide {
  min-height: 50vh;
  img {
    width: 50%;
  }
}

.we-provide_text {
  width: 50%;
  padding: 2rem;
  text-transform: capitalize;
  background-color: $light-primary-color;
  color: $light-color;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    font-size: 3rem;
    text-align: center;
    line-height: 1;
  }
  p {
    font-size: 1.1rem;
    line-height: 3;
    padding: 0.75rem 0;
  }
}

// business cases section

.business-cases_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    margin-top: 3rem;
    font-size: 3rem;
    text-align: center;
    line-height: 1;
  }
  p {
    font-size: 1.1rem;
    line-height: 3;
    padding: 0.75rem 0;
  }
}

.business-cases {
  min-height: 50vh;
}

.business-cases_images {
  padding: 0 0.5em 0.5em 0.5em;
  display: grid;
  grid-template-areas:
    "image1 image2 image3 image4"
    "image5 image6 image7 image8";
  gap: 0.5em;
  img {
    &:hover {
      opacity: 70%;
      cursor: pointer;
    }
  }
}

// main-blog section

.blog-post {
  min-height: 50vh;
  min-width: 100%;
  justify-content: center;
}

.blog-post_text {
  background-color: $secondary-color;
  color: $light-color;
  min-width: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h2 {
    font-size: 2rem;
    padding: 0 1rem;
  }
  p {
    padding: 1rem;
    font-size: 01rem;
  }
  a {
    margin-bottom: 2rem;
  }
}

.blog-post_image {
  min-width: 50%;
  img {
    height: 100%;
    display: cover;
  }
}

// team section
.team {
  min-height: 50vh;
  flex-direction: column;
  justify-content: center;
}

.team_text {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    font-size: 3rem;
  }
  p {
    font-size: 1.1rem;
  }
}

.team_photos {
  margin: 1rem;
  text-align: center;
  img {
    padding: 1rem;
    border-radius: 50%;
  }
  p {
    font-size: 1.1rem;
  }
}

// contact section

.contact {
  min-height: 35vh;
  img {
    max-width: 50%;

    display: cover;
  }
}

.contact-form {
  width: 50%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: $secondary-color;
  color: $light-color;
  h2 {
    font-size: 2rem;
  }
}

button {
  background: transparent;
  margin: 1rem;
  padding: 0.75rem 5rem;
  color: $light-color;
  border: 2px $light-color solid;
  border-radius: 12px;
  cursor: pointer;
  &:hover {
    background: $dark-primary-color;
    transition: ease-in-out 0.3s;
  }
}

// footer section

.footer {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 6vh;
  background-color: $gray-color;
  p {
    margin: 0 0 0.5rem 0;
    color: $light-color;
  }
}

.social {
  margin: 0.5rem 0 0 0;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  i {
    color: $light-color;
    &:hover {
      color: $secondary-color;
      transition: ease-in-out 0.3s;
    }
  }
}

.social a {
  padding-right: 1rem;
}

.social a:last-of-type {
  padding-right: 0;
}
