@import "reset";
@import "breakpoints";
@import "variables";
@import "utilities";

body {
  font-family: $primary-font;
}

// nav section

.main-nav {
  z-index: 2;
  width: 100%;
  height: 5vh;
  position: fixed;
  background-color: $gray-color;
  a {
    color: $light-color;
  }
}

.main-nav__items {
  min-height: 100%;
  justify-content: space-between;
  align-items: center;
}

.main-nav_links {
  min-width: 40%;
  justify-content: space-between;
  a:hover {
    color: $light-primary-color;
    transition: ease-in-out 0.3s;
  }
}

// hero section

.hero-content {
  background: url(/img/home/showcase.jpeg) no-repeat center center/cover;
  z-index: -10;
}
.hero-content::before {
  z-index: -5;
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($color: #000000, $alpha: 0.45);
}

.hero-content {
  color: $light-color;
  flex-direction: column;
  min-height: 100vh;
  padding: 2rem;
  position: relative;
  text-align: center;
  z-index: 1;
  h1 {
    font-size: 3rem;
    padding-bottom: 1rem;
  }
  p {
    font-size: 2rem;
    padding-bottom: 2rem;
  }
}

// what we do section

.what-we-do {
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 50vh;
  padding: 2rem;
  h2 {
    font-size: 3rem;
    padding-bottom: 3rem;
  }
}

.what-we-do-container {
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.box {
  margin: 1rem;
  i {
    margin-bottom: 0.5rem;
    color: $light-color;
    background-color: $light-primary-color;
    padding: 1rem;
    border-radius: 50%;
  }
  h3 {
    margin-bottom: 0.5rem;
  }
}

// we provide section

.we-provide {
  min-height: 50vh;
  img {
    width: 50%;
  }
}

.we-provide_text {
  align-items: center;
  background-color: $secondary-color;
  color: $light-color;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  text-transform: capitalize;
  width: 50%;
  h2 {
    font-size: 3rem;
    text-align: center;
    line-height: 1;
  }
  p {
    font-size: 1.1rem;
    line-height: 3;
    padding: 0.75rem 0;
  }
}

// business cases section

.business-cases {
}

.business-cases_text {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h2 {
    font-size: 3rem;
    line-height: 1;
    margin-top: 1.5rem;
    text-align: center;
  }
  p {
    font-size: 1.1rem;
    line-height: 3;
    padding: 0.5rem 0;
  }
}

.business-cases {
  position: relative;
  min-height: 50vh;
}

.business-cases_images {
  display: grid;
  margin-bottom: 1.5rem;
  padding: 0 0.5em 0.5em 0.5em;
  grid-template-areas:
    "image1 image2 image3 image4"
    "image5 image6 image7 image8";
  gap: 0.5em;
  img {
    &:hover {
      opacity: 70%;
      cursor: zoom-in;
      transform: scale(1.02);
      transition: ease-in-out 0.2s;
    }
  }
}

.lightbox-container {
  background-color: rgba(218, 218, 218, 0.755);
  display: grid;
  left: 0;
  min-height: 75vh;
  min-width: 100vw;
  padding: 1rem;
  place-items: center;
  position: absolute;
  top: 0;
  z-index: 1;
  pointer-events: none;
  opacity: 0;
}

.lightbox-container.active {
  opacity: 1;
  pointer-events: all;
}

.lightbox-image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90vh;
  height: 90vh;
  position: relative;
  box-shadow: 3px 3px 10px, rgba(100, 100, 100, 0.5);
}

.lightbox-btn {
  height: 50px;
  width: 50px;
  cursor: pointer;
  position: relative;
  transition: ease-in-out 200ms;
  background: transparent;
}

.lightbox-btn.inactive {
  opacity: 0;
  pointer-events: none;
}

.left {
  right: 5px;
  &:hover {
    cursor: pointer;
  }
}
.right {
  left: 5px;
  &:hover {
    cursor: pointer;
  }
}

.lightbox-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: zoom-out;
}

// main-blog section

.blog-post {
  min-height: 50vh;
  min-width: 100%;
  justify-content: center;
}

.blog-post_text {
  align-items: center;
  background-color: $primary-color;
  color: $light-color;
  flex-direction: column;
  justify-content: center;
  min-width: 50%;
  h2 {
    font-size: 2rem;
    padding: 0 1rem;
  }
  p {
    padding: 1rem;
    font-size: 01rem;
  }
  a {
    margin-bottom: 2rem;
  }
}

.blog-post_image {
  min-width: 50%;
  img {
    height: 100%;
    display: cover;
  }
}

// team section
.team {
  flex-direction: column;
  justify-content: center;
  min-height: 50vh;
}

.team_text {
  align-items: center;
  flex-direction: column;
  justify-content: center;
  h2 {
    font-size: 3rem;
  }
  p {
    font-size: 1.1rem;
  }
}

.team_photos {
  margin: 1rem;
  text-align: center;
  img {
    padding: 1rem;
    border-radius: 50%;
  }
  p {
    font-size: 1.1rem;
  }
}

// contact section

.contact {
  min-height: 35vh;
  img {
    max-width: 50%;

    display: cover;
  }
}

.contact-header {
  align-items: center;
  background-color: $secondary-color;
  color: $light-color;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  width: 50%;
  h2 {
    font-size: 2rem;
  }
}

.form {
  min-width: 33vw;
  flex-direction: column;

  input {
    &:focus {
      border: solid 2px white;
      transition: ease-in-out 0.3s;
    }
  }
}

button {
  background: transparent;
  border-radius: 12px;
  border: 2px $light-color solid;
  color: $light-color;
  cursor: pointer;
  margin: 1rem;
  min-width: 33vw;
  padding: 0.75rem 5rem;
  &:hover {
    background: $dark-primary-color;
    transition: ease-in-out 0.3s;
  }
}

label {
  min-width: 60%;
  padding: 0.25rem 0;
  font-size: 1.2rem;
}

.last-label {
  padding-top: 1.5rem;
}

textarea {
  min-height: 10vh;
}

// footer section

.footer {
  align-items: center;
  background-color: $gray-color;
  flex-direction: column;
  height: 6vh;
  justify-content: center;
  width: 100%;
  p {
    margin: 0 0 0.5rem 0;
    color: $light-color;
  }
}

.social {
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0 0 0;
  min-width: 100%;
  i {
    color: $light-color;
    &:hover {
      color: $secondary-color;
      transition: ease-in-out 0.3s;
    }
  }
}

.social a {
  padding-right: 1rem;
}

.social a:last-of-type {
  padding-right: 0;
}
